.btn01{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    padding: 25px 30px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
    display:block;
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
  }
.btn01::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
.btn01:hover {
    color: #fff;
  }
.btn01:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

.btn02{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    padding: 18px 30px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
  }
.btn02::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
.btn02:hover {
    color: #fff;
  }
.btn02:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  @media screen and (max-width: 875px) {
    .btn02{

      padding: 6px 12px;
      font-size: 10px;
     }
  }


  .btn03{
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    padding: 17px 30px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
    display: block;
    margin:0 35% 0 20px;

  }
.btn03::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
.btn03:hover {
    color: #fff;
  }
.btn03:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  @media screen and (max-width: 875px) {
    .btn03{
      padding: 6px 12px;
      font-size: 13px;
      width: 90px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .btn04{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    padding: 18px 30px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
  }
.btn04::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
.btn04:hover {
    color: #fff;
  }
.btn04:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  @media screen and (max-width: 875px) {
    .btn04{
      padding: 8px 15px;
      font-size: 15px;
    }
  }
